<% @tasks.each do |task| %>
  <h2><td><%= link_to task.name, task %></td></h2>
  <%= link_to "Delete", task_path(task),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  <%= link_to "Update", edit_task_path(task)%>
<% end %>



<p><%= link_to "New Task", new_task_path %></p>
